body {
	font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
	color: #f3f3f3;
	float: right;
	width: 56%;
	margin-top: 70px;
	margin-right: 23%;
	margin-bottom: 70px;
	box-sizing: border-box;
}

.clear {
	clear: both;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

img {
	border-radius: 100px;
	width: 100px;
	height: 100px;
}

#name {
	float: left;
	font-family: 'Rokkitt', 'Arial', 'serif';
	color: #181818;
	margin-left: 10px;
}

#name > h1 {
	margin: 0;
}

#name > h2 {
	margin: 0;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: #181818;
}

.mainDetails {
	border-bottom: 2px solid #cf8a05;
	padding: 0 25px;
}

#mainArea {
	height: max-content;
}

.keySkills {
	display: inline-block;
	width: 105%;
	padding-left: 0;
	margin-top: 27px;
	margin-bottom: 27px;
	margin-right: 40px;
	box-sizing: border-box;
}

.keySkills > li {
	display: inline-block;
	padding-right: 93px;
}

li {
	list-style: none;
	margin: 0 6px;
}

#contactDetails {
	float: right;
	color: #181818;
	clear: right;
}

section {
	border-top: 1px solid #dedede;
}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionTitle > h1 {
	font: italic 300 1.5em 'Rokkitt', 'Helvetica', 'Arial', 'serif';
	color: #cf8a05;
	float: right;
	padding-right: 6px;
	margin-top: 4px;
	margin-bottom: 0;
}

.sectionContent {
	float: right;
	width: 72.5%;
	color: #444444;
}

.sectionContent > article > h2 {
	font: normal 300 1.5em 'Rokkitt', 'Helvetica', 'Arial', 'serif';
	margin-top: 5px;
	box-sizing: border-box;
}

h2 {
	margin-bottom: 0;
}

.subDetails {
	margin: 0 0;
	font-style: italic;
	font-size: 0.8em;
}

p {
	margin: 8px 0;
}